<mat-card class="cardWithShadow productcard overflow-hidden">
  <mat-card-content>
    <div class="row m-b-12">
      <div class="col d-flex align-items-center">
        <span class="f-s-18 f-w-600">{{ user.username }}</span>
      </div>
      <div class="col-auto">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Cart Menu"
        >
          <mat-icon color="accent">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="cardWithShadow p-l-15 p-r-15">
          <button mat-menu-item (click)="update()">
            <div class="row">
              <mat-icon color="accent">edit</mat-icon> Edit
            </div>
          </button>
          <button mat-menu-item (click)="delete()" [disabled]="user.isDeleting">
            <div class="row">
              <mat-icon color="accent">delete</mat-icon> Delete
            </div>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="mat-body-1">Email: {{ user.email }}</div>
    <div class="mat-body-1">Phone No: {{ user.phoneNo }}</div>
    <div class="mat-body-1">Skillsets: {{ user.skillset }}</div>
    <div class="mat-body-1">Hobby: {{ user.hobby }}</div>
  </mat-card-content>
</mat-card>